.about {
  margin-top: 48px;

  .hero__inner {
    display: block;
  }

  &__heading {
    @include font(var(--card-title), 36px, 47px, 700, 16px);
    text-align: center;
  }

  &__description {
    margin: 0 auto;
    max-width: 874px;
    text-align: center;
    @include font(var(--card-title), 20px, 28px, 300, 40px);

    @include lg {
      @include font(var(--card-title), 18px, 26px, 300, 40px);
    }
  }

  &__banner {
    margin-bottom: 32px;

    img {
      margin: 0 auto;

      @include desktop-first(1450px) {
        width: 100%;
      }
    }
  }

  &__text {
    @include font(var(--card-title), 20px, 28px, 400, 12px);
    text-align: center;

    @include lg {
      @include font(var(--card-title), 18px, 26px, 400, 12px);
    }
  }

  &__text-light {
    margin: 0 auto;
    max-width: 874px;
    margin-bottom: 40px;
    @include font(var(--card-title), 20px, 28px, 300, 72px);
    text-align: center;

    @include lg {
      @include font(var(--card-title), 18px, 26px, 300, 72px);
    }
  }

  &__application {
    margin-bottom: 72px;
    background-color: var(--white-section-bg);
    overflow: hidden;

    .container {
      position: relative;
      padding: 167px 0;
    }

    &-content {
      width: 100%;
      max-width: 518px;
    }

    &-heading {
      @include font(var(--card-title), 36px, 44px, 600, 16px);

      @include lg {
        @include font(var(--card-title), 30px, 38px, 600, 16px);
      }
    }

    &-description {
      @include font(var(--card-title), 20px, 28px, 300, 32px);

      a {
        @include font(var(--bold-text), 20px, 28px, 600, 0);
      }
    }

    &-download {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    &-img {
      position: absolute;
      bottom: 0;
      left: calc(50% + 38px);
    }

    svg {
      path {
        fill: var(--footer-icon);
      }
    }
  }

  .w-560 {
    max-width: 560px;
  }

  &__activity {
    margin-bottom: 72px;

    .container {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
    }

    &-heading {
      @include font(var(--card-title), 36px, 44px, 700, 24px);

      @include lg {
        @include font(var(--card-title), 30px, 36px, 700, 24px);
      }
    }

    &-text {
      @include font(var(--card-title), 20px, 28px, 300, 20px);

      @include lg {
        @include font(var(--card-title), 16px, 22px, 300, 20px);
      }
    }
  }

  &__terms {
    &-heading {
      max-width: 700px;
      margin: 0 auto;
      @include font(var(--card-title), 36px, 44px, 700, 24px);
      text-align: center;

      @include lg {
        @include font(var(--card-title), 30px, 38px, 700, 24px);
      }
    }

    &-list {
      max-width: 1330px;
      margin: 0 auto;
      padding-left: 20px;
      list-style-type: disc;

      li {
        @include font(var(--card-title), 20px, 28px, 400, 20px);

        @include lg {
          @include font(var(--card-title), 16px, 22px, 400, 20px);
        }
      }
    }
  }

  &__contact {
    max-width: 1330px;
    margin: 0 auto;
    @include font(var(--card-title), 20px, 28px, 400, 20px);

    @include lg {
      @include font(var(--card-title), 16px, 22px, 400, 20px);
    }
  }
}
