.article {
  box-sizing: content-box;
  margin-top: 56px;
  margin-bottom: 60px;

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 48px;
  }

  &__item {
    position: relative;
    @include flex(column, stretch, flex-start, nowrap, flex);

    &::after {
      position: absolute;
      top: 0;
      right: -24px;
      display: inline-block;
      width: 1px;
      height: 100%;
      content: "";
      background-color: var(--transfer-border);
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: -24px;
      display: inline-block;
      width: 100%;
      height: 1px;
      content: "";
      background-color: var(--transfer-border);
    }

    &:nth-child(4n) {
      &::after {
        display: none;
      }
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 16px;
  }

  &__title {
    font-family: "Noto";
    @include font(var(--card-title), 18px, 150%, 600, 8px);
  }

  &__text {
    @include font(var(--article-text), 15px, 150%, 300, 0);
    letter-spacing: -0.02em;
  }

  &__load {
    margin-top: 24px;
    padding-top: 24px;
    @include flex(row, center, center, nowrap, flex);

    &-btn {
      @include flex(row, center, center, nowrap, flex);
      gap: 8px;
      padding: 16px 44px;
      @include font(var(--card-title), 16px, 24px, 400, 0);
      letter-spacing: -0.01em;
      background-color: var(--article-btn-bg);
      border-radius: 8px;

      svg {
        path {
          fill: var(--load-icon);
        }
      }
      // &::before {
      //   display: inline-block;
      //   width: 24px;
      //   height: 24px;
      //   content: "";
      //   background-image: url("../../img/icons/reload.svg");
      //   background-position: center;
      // }
    }
  }
}

@include xl {
  .article {
    margin-top: 40px;

    &__list {
      gap: 40px;
    }

    &__item {
      &::after {
        right: -20px;
      }

      &::before {
        bottom: -20px;
      }
    }

    &__img {
      margin-bottom: 12px;
    }

    &__title {
      @include font(var(--card-title), 16px, 120%, 600, 6px);
    }

    &__text {
      @include font(var(--article-text), 13px, 130%, 300, 0);
      letter-spacing: -0.02em;
    }

    &__load {
      margin-top: 20px;

      &-btn {
        padding: 14px 40px;
        @include font(var(--card-title), 14px, 20px, 400, 0);

        &::before {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}

@include lg {
  .article {
    margin-top: 36px;

    &__list {
      gap: 36px;
    }

    &__item {
      &::after {
        right: -18px;
      }

      &::before {
        bottom: -18px;
      }
    }

    &__img {
      margin-bottom: 10px;
    }

    &__title {
      @include font(var(--card-title), 14px, 120%, 600, 6px);
    }

    &__text {
      @include font(var(--article-text), 12px, 120%, 300, 0);
    }

    &__load {
      margin-top: 18px;

      &-btn {
        padding: 12px 36px;
        @include font(var(--card-title), 12px, 18px, 400, 0);

        &::before {
          width: 18px;
          height: 18px;
        }
      }
    }
  }
}
