.compact {
  padding-top: 32px;
}

.compact-list {
  max-width: 950px;
  margin: 0 auto;

  &__item {
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
    padding-bottom: 24px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--transfer-border);
    }

    img {
      width: 210px;
    }

    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &-title {
      @include font(var(--card-title), 24px, 140%, 700);
    }
  }
}
