.container {
  max-width: 1640px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;

  &-md {
    width: 100%;
    margin: 0 auto;
    max-width: 700px;
  }

  &-mdx {
    width: 100%;
    max-width: 820px;
  }

  &-lg {
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
}

@include xxl {
  .container {
    max-width: 1399px;
  }
}

@include xl {
  .container {
    max-width: 1199px;
  }
}

@include lg {
  .container {
    max-width: 991px;
  }
}
