.daily {
  position: relative;

  &-bg {
    &::before {
      background: radial-gradient(
        68.55% 68.55% at 50% 45.62%,
        rgba(11, 11, 11, 0) 0%,
        #0b0b0b 92.66%
      );
    }
  }

  .hero__main {
    max-width: 1200px;
    padding-top: 48px;
  }

  &__title {
    @include font(#ffffff, 36px, 47px, 600, 33px);

    @include xl {
      @include font(#ffffff, 28px, 40px, 600, 23px);
    }
  }

  &__collage-wrapper {
    & > li {
      margin-bottom: 24px;
    }
  }

  &__collage {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 228px;
    grid-auto-flow: dense;
    gap: 24px 30px;

    @include xl {
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 190px;
      gap: 18px 22px;
    }

    @include lg {
      grid-template-columns: repeat(2, 1fr);
    }

    &-body-title {
      @include font(#ffffff, 18px, 140%, 700);

      @include xl {
        @include font(#ffffff, 16px, 140%, 700);
      }
    }

    &-body-text {
      display: none;
      margin-top: 4px;
      @include font(rgba(255, 255, 255, 0.5), 18px, 28px, 300);

      @include xl {
        @include font(rgba(255, 255, 255, 0.5), 16px, 26px, 300);
      }
    }

    &-item {
      position: relative;
      background-color: #0b0b0b;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      &:first-child {
        grid-column: span 2;
        grid-row: span 2;

        .daily__collage-body-text {
          display: block;
        }
      }

      &:nth-child(6) {
        grid-column: span 2;
      }

      &:nth-child(7) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &:nth-child(8) {
        grid-column: span 2;
      }

      &:nth-child(10) {
        grid-column: span 2;
        grid-row: span 2;
      }

      &-body {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 12px 10px;
        background: rgba(11, 11, 11, 0.4);
        backdrop-filter: blur(25px);
      }
    }
  }

  .article__load-btn {
    cursor: pointer;
  }
}
