.footer {
  margin-top: 80px;
  padding: 24px 0 48px;
  // margin-top: auto;
  background-color: var(--footer-color);

  &__top {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--footer-border-color);

    &_inner {
      @include flex(row, center, space-between, nowrap, flex);
    }

    &_left {
      @include flex(row, center, space-between, nowrap, flex);
      gap: 56px;
    }

    &_list {
      @include flex(row, center, space-between, nowrap, flex);
      gap: 56px;
    }

    &_item {
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: 0.02em;
    }

    &_link {
      color: var(--footer-top-nav);
    }
  }

  &__bottom {
    &_inner {
      @include flex(row, flex-start, space-between, nowrap, flex);
      padding-top: 40px;
      gap: 80px;
    }

    &_info {
      max-width: 962px;
    }

    &_info-text {
      margin: 0;
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
      letter-spacing: -0.01em;
      color: var(--footer-bottom-text);
    }

    &_apps {
      @include flex(row, flex-start, space-between, nowrap, flex);

      &-title {
        width: 212px;
        margin-right: 24px;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.01em;
        color: var(--footer-bottom-app-title);
        opacity: 0.7;
      }

      &-link:not(:last-child) {
        margin-right: 8px;
      }

      &-link {
        svg {
          display: block;

          path {
            fill: var(--footer-icon);
          }
        }
      }
    }
  }

  .social-link {
    svg {
      display: block;

      path {
        fill: var(--footer-icon);
      }
    }
  }
}

.social-medias {
  @include flex(row, center, space-between, nowrap, flex);
  gap: 40px;
}

.social-list {
  @include flex(row, center, space-between, nowrap, flex);
  gap: 32px;
}

@include desktop-first(1400px) {
  .footer {
    &__top {
      &_left {
        gap: 48px;
      }

      &_list {
        gap: 48px;
      }

      &_item {
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.02em;
      }
    }

    &__bottom {
      &_info {
        max-width: 962px;
      }

      &_info-text {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: var(--footer-bottom-text);
      }

      &_apps {
        @include flex(row, flex-start, space-between, nowrap, flex);

        &-title {
          width: 180px;
          margin-right: 20px;
          font-size: 14px;
          line-height: 22px;
        }

        &-link:not(:last-child) {
          margin-right: 8px;
        }

        &-img {
          width: 140px;
          height: 40px;
        }
      }
    }
  }

  .social-medias {
    gap: 28px;
  }

  .social-list {
    gap: 24px;
  }
}

@include lg {
  .footer {
    &__top {
      &_left {
        gap: 36px;
      }

      &_list {
        gap: 36px;
      }

      &_item {
        font-size: 14px;
        line-height: 22px;
      }
    }

    &__bottom {
      &_info {
        max-width: 962px;
      }

      &_info-text {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: var(--footer-bottom-text);
      }

      &_apps {
        @include flex(row, flex-start, space-between, nowrap, flex);

        &-title {
          width: 180px;
          margin-right: 20px;
          font-size: 14px;
          line-height: 22px;
        }

        &-link:not(:last-child) {
          margin-right: 8px;
        }

        &-img {
          width: 140px;
          height: 40px;
        }
      }
    }
  }

  .social-medias {
    gap: 22px;
  }

  .social-list {
    gap: 16px;
  }

  .social-img {
    width: 16px;
    height: 16px;
  }

  .socail-age {
    width: 36px;
    height: 36px;
  }
}
