.hero {
  &__inner {
    @include flex(row, stretch, space-between, nowrap, flex);
    gap: 32px;
  }

  &__main {
    flex: 1;
    padding-top: 24px;

    &__banner {
      @include flex(row, stretch, space-between, nowrap, flex);

      &-info {
        @include flex(row, flex-start, flex-start, nowrap, flex);
        flex-direction: column;
        padding: 25px 30px;
        background-color: var(--hero-banner);
      }

      &-title {
        font-family: "Noto";
        @include font(#ffffff, 28px, 135%, 700, 12px);
        letter-spacing: -0.01em;
      }

      &-text {
        flex-grow: 1;
        font-family: "Museo";
        @include font(rgba(255, 255, 255, 0.6), 15px, 160%, 300);
        letter-spacing: -0.02em;
        opacity: 0.66;
      }
    }

    &__news {
      padding: 32px;
      background-color: var(--white);
    }

    &__news-list {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
    }
  }

  &__news {
    max-width: 378px;
    width: 378px;
  }
}

.card-item {
  @include flex(row, stretch, flex-start, nowrap, flex);
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: auto;
}

.card-title {
  flex-grow: 1;
  font-family: "Noto";
  @include font(var(--card-title), 18px, 150%, 600, 0);
}

.card-status-wrapper {
  // margin-top: auto;s
}

.hero-card .card-title {
  margin-top: 7px;
  margin-bottom: 22px;
}

@include xxl {
  .hero {
    &__main {
      &__banner {
        &-title {
          @include font(#ffffff, 24px, 120%, 700, 10px);
        }

        &-text {
          @include font(var(--white), 14px, 150%, 300, 0);
        }
      }

      &__banner-img {
        max-width: 550px;
      }

      &__news {
        padding: 30px;
      }
    }
  }

  .card-title {
    @include font(var(--card-title), 17px, 140%, 600, 0);
  }
}

@include xl {
  .hero {
    &__main {
      &__banner {
        &-info {
          padding: 22px 26px;
        }

        &-title {
          @include font(var(--white), 18px, 110%, 700, 10px);
        }

        &-text {
          @include font(var(--white), 11px, 110%, 300, 0);
        }
      }

      &__banner-img {
        max-width: 450px;
        height: 100%;
      }

      &__news {
        padding: 30px;
      }
    }
  }

  .card-title {
    @include font(var(--card-title), 14px, 120%, 600, 0);
  }
}
