.latest-news {
  &__title {
    border-bottom: 1px solid var(--border-darker);

    @include font(var(--card-title), 36px, 47px, 700);
    padding-bottom: 28px;

    @include xl {
      @include font(var(--card-title), 30px, 42px, 700);
    }
  }
  &__list {
    margin-bottom: 40px;
  }

  &__item {
    padding: 24px 0;
    display: flex;
    gap: 68px;

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-darker);
    }

    &-content {
      display: flex;
      gap: 48px;
    }
    &-status {
      display: flex;
      flex-direction: column;
      align-items: start;
      justify-content: space-between;
    }

    &-text {
      white-space: nowrap;
      @include font(#828282, 14px, 17px, 400);
    }

    &-title {
      @include font(var(--card-title), 28px, 150%, 700);

      @include xl {
        @include font(var(--card-title), 22px, 150%, 700);
      }
    }

    img {
      width: 278px;
      height: 156px;
    }
  }
}
