.mobile {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.8);
	display: none;
	align-items: center;
	justify-content: center;
	padding: 20px;
	z-index: 100;

	&-info {
	}

	@include sm {
		display: flex;
	}
}
