.news {
  position: relative;
  padding: 32px 24px;
  background-color: var(--white);

  &__title-wrapper {
    @include flex(row, center, flex-start, nowrap, flex);
    margin-bottom: 20px;
  }

  &__title-icon {
    width: 12px;
    height: 12px;
    margin-right: 12px;
  }

  &__main-title {
    font-family: "Museo";
    @include font(var(--card-title), 22px, 26px, 600, 0);
  }

  &__list {
    @include flex(row, stretch, flex-start, nowrap, flex);
    flex-direction: column;
  }

  &__item {
    position: relative;
    padding-top: 16px;
    padding-bottom: 16px;

    &:nth-child(1) {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
    }

    &:not(:last-child) {
      border-bottom: 1px solid var(--border-primary);
    }
  }

  &__title {
    margin-top: 8px;
    font-family: "Noto";
    @include font(var(--museo-nav-title), 16px, 150%, 600, 0);
    letter-spacing: -0.01em;
  }

  &__btn-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    @include flex(row, flex-end, center, nowrap, flex);
    width: 100%;
    height: 157px;
    padding: 0 44px;
    background: var(--news-btn);
  }

  &__btn {
    display: block;
    width: 100%;
    padding: 16px;
    @include font(#fff, 16px, 24px, 600, 28px);
    letter-spacing: -0.01em;
    border-radius: 8px;
    background-color: var(--black);
    box-shadow: var(--news-btn-shadow);
  }
}

@include xl {
  .news {
    padding: 26px 20px;

    &__title-icon {
      width: 10px;
      height: 10px;
      margin-right: 10px;
    }

    &__main-title {
      @include font(var(--card-title), 16px, 22px, 600, 0);
    }

    &__item {
      padding-top: 14px;
      padding-bottom: 14px;

      &:nth-child(1) {
        padding-top: 0;
      }

      &:last-child {
        padding-bottom: 0;
      }

      &:not(:last-child) {
        border-bottom: 1px solid var(--transfer-border);
      }
    }

    &__title {
      margin-top: 6px;
      @include font(var(--museo-nav-title), 12px, 120%, 600, 0);
    }

    &__btn-wrapper {
      @include flex(row, flex-end, center, nowrap, flex);
      height: 120px;
      padding: 0 30px;
    }

    &__btn {
      padding: 10px;
      @include font(var(--white), 14px, 24px, 600, 20px);
    }
  }
}
