.opinion {
  &__title {
    @include font(var(--card-title), 36px, 47px, 700);
    padding-bottom: 28px;

    @include xl {
      @include font(var(--card-title), 30px, 42px, 700);
    }
  }
  &__list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__item {
    position: relative;
    padding: 24px;
    background-color: var(--white);

    &-head {
      display: flex;
      align-items: start;
      margin-bottom: 16px;
      justify-content: space-between;
    }

    &-avatar {
      display: flex;
      align-items: center;
      gap: 16px;
      img {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        overflow: hidden;
      }
    }
    &-info {
    }

    &-text {
      opacity: 0.5;
      @include font(var(--card-title), 16px, 19px, 400);

      @include xl {
        @include font(var(--card-title), 14px, 19px, 400);
      }
    }

    &-name {
      @include font(var(--card-title), 20px, 24px, 700, 8px);

      @include xl {
        @include font(var(--card-title), 17px, 24px, 700, 4px);
      }
    }

    &-title {
      font-family: var(--font-family-noto);
      @include font(var(--card-title), 23px, 135%, 600, 8px);

      @include xl {
        @include font(var(--card-title), 21px, 135%, 600, 6px);
      }
    }

    &-desc {
      opacity: 0.65;
      @include font(var(--card-title), 16px, 19px, 400, 24px);

      @include xl {
        @include font(var(--card-title), 15px, 19px, 400, 18px);
      }
    }

    &-link {
      @include font(#0038d1, 16px, 19px, 400);
      text-decoration: underline;
    }

    &-img {
      width: 80px;
      height: 56px;
      position: absolute;
      bottom: 24px;
      right: 24px;
    }
  }
}
