.reels {
  &__inner {
    overflow: hidden;
  }

  &__video-wrapper {
    position: relative;
    // width: 240px;
    aspect-ratio: 1/1.8;
    margin-bottom: 12px;
    border-radius: 10px;
    overflow: hidden;
  }

  &__video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__video-play {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    @include flex(row, center, center, nowrap, flex);
    background: var(--video-mask);
  }

  &__video-play-btn {
    display: inline-block;
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    background-image: url("../../img/icons/play-icon.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-family: "Noto";
    @include font(var(--card-title), 16px, 150%, 600, 8px);
  }

  &__watch {
    @include font(var(--status-time), 14px, 17px, 300, 0);
    letter-spacing: -0.02em;
  }
}

.swiper {
  overflow: visible;
}

.swiper-button-prev {
  top: -25px;
  left: calc(98% - 55px);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--swiper-btn);

  &::after {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("../../img//icons/arrow-right.svg");
    transform: rotate(180deg);
  }
}

.swiper-button-next {
  top: -25px;
  left: calc(98% - 5px);
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--swiper-btn);

  &::after {
    width: 20px;
    height: 20px;
    content: "";
    background-image: url("../../img//icons/arrow-right.svg");
  }
}

@include xxl {
  .swiper-button-prev {
    left: calc(98% - 60px);
  }

  .swiper-button-next {
    left: calc(98% - 10px);
  }
}

@include xl {
  .swiper-button-prev {
    top: -20px;
    left: calc(98% - 58px);
    width: 30px;
    height: 30px;
  }

  .swiper-button-next {
    top: -20px;
    left: calc(98% - 12px);
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
}
