.status {
  @include flex(row, center, flex-start, nowrap, flex);
  width: 100%;

  &__circle {
    display: block;
    width: 10px;
    height: 10px;
    margin-right: 8px;
    background-color: var(--orange);
    border-radius: 50%;
  }

  &__title {
    font-family: "Museo";
    @include font(var(--status-time), 14px, 17px, 300, 0);
    letter-spacing: -0.02em;
  }

  &__time {
    display: block;
    margin-left: auto;
    font-family: "Museo";
    @include font(var(--status-time), 14px, 17px, 300, 0);
    letter-spacing: -0.02em;
  }
}

@include xl {
  .status {
    &__circle {
      width: 8px;
      height: 8px;
      margin-right: 6px;
    }

    &__title {
      @include font(var(--status-time), 12px, 14px, 300, 0);
    }

    &__time {
      @include font(var(--status-time), 12px, 14px, 300, 0);
      letter-spacing: -0.02em;
    }
  }
}

.yellow {
  background-color: var(--yellow);
}
