.day-theme {
  @include flex(row, center, flex-start, nowrap, flex);
  gap: 16px;
  margin-bottom: 32px;
  padding: 16px 20px;
  background-color: var(--white);
  &__img {
    width: 44px;
    height: 44px;
  }
  &__info-top {
    @include flex(row, center, flex-start, nowrap, flex);
  }
  &__info-title {
    margin-right: 24px;
    font-family: "Museo";
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: var(--day-theme__info-title);
  }
  &__info-time {
    font-family: "Museo";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.02em;
    color: var(--day-theme__info-time);
    opacity: 0.4;
  }
  &__info-main-title {
    font-family: "Noto";
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    color: var(--day-theme__info-time);
  }
}

@include xl {
  .day-theme {
    gap: 12px;
    margin-bottom: 28px;
    padding: 14px 18px;

    &__info-title {
      margin-right: 24px;
      font-family: "Museo";
      font-weight: 600;
      font-size: 10px;
      line-height: 12px;
    }
    &__info-time {
      font-size: 12px;
      line-height: 14px;
    }
    &__info-main-title {
      font-size: 16px;
      line-height: 24px;

      color: var(--day-theme__info-time);
    }
  }
}
