.transfer {
  @include flex(row, stretch, space-between, nowrap, flex);
  padding: 20px 30px;
  background-color: var(--white);
  border-bottom: 1px solid var(--transfer-border);

  &__left {
    gap: 8px;
    @include flex(row, center, flex-start, nowrap, flex);
  }

  &__right {
    @include flex(row, center, flex-start, nowrap, flex);
    gap: 8px;
  }

  &__currency {
    padding: 11px 5px;
    font-family: "Museo";
    @include font(var(--museo-nav-title), 15px, 120%, 400, 0);
    text-transform: uppercase;
    background-color: var(--bg-currency);
    border-radius: 10px;
    border: 1px solid var(--border-transparent);
  }

  &__money-wrapper {
    @include flex(row, flex-start, flex-start, nowrap, flex);
    flex-direction: column;
  }

  &__money-change {
    font-family: "Museo";
    @include font(var(--museo-nav-title), 14px, 120%, 400, 0);
    letter-spacing: -0.02em;
  }

  &__money-current {
    font-family: "Museo";
    @include font(var(--museo-nav-title), 16px, 120%, 600, 0);
  }
}

@include xl {
  .transfer {
    padding: 16px 20px;

    &__left {
      gap: 8px;
    }

    &__right {
      gap: 8px;
    }

    &__currency {
      padding: 8px 4px;
      font-family: "Museo";
      @include font(var(--museo-nav-title), 12px, 110%, 400, 0);
    }

    &__money-change {
      font-family: "Museo";
      @include font(var(--museo-nav-title), 12px, 100%, 400, 0);
      letter-spacing: -0.02em;
    }

    &__money-current {
      font-family: "Museo";
      @include font(var(--museo-nav-title), 12px, 110%, 600, 0);
    }
  }
}
.green {
  color: var(--transfer-green);
}

.red {
  color: var(--transfer-red);
}
