.videonews {
  padding-top: 56px;

  &__header {
    margin-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &-title-wrapper {
      display: flex;
      align-items: center;
      gap: 12px;

      h2 {
        @include font(var(--card-title), 22px, 26px, 600, 0);
      }
    }

    &-link {
      display: flex;
      align-items: center;
      gap: 8px;
      @include font(var(--editor-link), 18px, 22px, 400, 0);

      img {
        width: 16px;
        height: 16px;
      }
    }
  }

  &__body {
    display: flex;
    align-items: stretch;
    background-color: var(--white);
  }

  &__single-content {
    width: 810px;

    @include xl {
      width: 550px;
    }

    @include lg {
      width: 450px;
    }

    .video__wrapper {
      margin-bottom: 0;

      .video__player {
        height: 456px;

        @include xl {
          height: calc(550px / 1.77);
        }

        @include lg {
          height: calc(450px / 1.77);
        }
      }
    }

    &-bottom {
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 32px;
      padding-top: 24px;
    }

    &-title {
      @include font(var(--card-title), 24px, 34px, 700, 5px);
      text-decoration-line: underline;
      font-family: var(--font-family-noto);
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      box-orient: vertical;
      text-overflow: ellipsis;
    }

    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include font(var(--status-time), 14px, 17px, 300, 0);

      p {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  &__contents {
    flex-grow: 1;

    &-tabs {
      padding: 0 32px;
      display: flex;
      align-items: center;
      gap: 32px;
      border-bottom: 1px solid var(--border-primary);

      @include xl {
        padding: 0 20px;
      }

      &-item {
        position: relative;
        padding-top: 24px;
        padding-bottom: 22px;
        @include font(var(--card-title), 20px, 24px, 500, 0);
        opacity: 0.3;
        cursor: pointer;

        @include xl {
          @include font(var(--card-title), 18px, 20px, 500, 0);
        }
      }

      .tab--active {
        @include font(var(--tab-actve-color), 20px, 24px, 600, 0);
        opacity: 1;

        @include xl {
          @include font(--tab-actve-color, 18px, 20px, 600, 0);
        }
      }

      .tab--active::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--tab-actve-color);
        content: "";
      }
    }

    &-list-wrapper {
      position: relative;
      padding-top: 16px;
      padding-right: 20px;
      &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 215px;
        background: var(--shadow);
        pointer-events: none;
        content: "";
      }

      @include xl {
        padding-right: 4px;
      }
    }

    &-list {
      height: 569px;
      padding-left: 40px;
      padding-right: 20px;
      overflow-y: auto;

      @include xl {
        height: 415px;
        padding-left: 20px;
        padding-right: 10px;
      }

      &::-webkit-scrollbar {
        width: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(28, 39, 77, 0.3);
        border-radius: 4px;
      }
    }

    &-item {
      display: flex;
      gap: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      border-bottom: 1px solid var(--border-primary);

      @include xl {
        gap: 10px;
        align-items: start;
      }

      &:first-child {
        padding-top: 9px;
      }

      &-right {
        h3 {
          @include font(var(--card-title), 18px, 25px, 600, 29px);
          font-family: var(--font-family-noto);
          overflow: hidden;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          box-orient: vertical;
          text-overflow: ellipsis;

          @include xl {
            @include font(var(--card-title), 16px, 22px, 600, 10px);
          }
        }
      }

      @include lg {
        &-poster {
          width: 150px;
        }
      }

      &-bottom {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }

      &-link {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100px;
        height: 40px;
        padding: 10px 12px;
        // background-color: #0c2f75;
        border-radius: 8px;
        border: 1px solid var(--blockquote-border);
        @include font(var(--card-title), 14px, 17px, 400, 0);

        svg {
          width: 20px;
          height: 20px;

          path {
            fill: var(--card-title);
          }
        }
      }

      p {
        @include font(var(--status-time), 14px, 17px, 300, 0);
      }
    }
  }

  &__more-link {
    position: absolute;
    bottom: 32px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 80px);
    display: block;
    padding-top: 16px;
    padding-bottom: 16px;
    @include font(var(--card-title), 16px, 24px, 600);
    text-align: center;
    background-color: var(--article-btn-bg);
    border-radius: 8px;
  }

  @include lg {
    .video__player-controls-bar-left {
      gap: 15px;
    }

    .video__player-controls-bar-play {
      gap: 12px;
    }

    .video__player-controls-bar-options {
      gap: 12px;
    }

    .video__player-controls-wrapper {
      padding: 15px 15px;
    }
  }
}
