.select {
  position: relative;

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    height: 16px;
    width: 16px;
  }
  .select2 {
    width: 100% !important;
    &-selection {
      height: 100% !important;
      border: none !important;
      padding: 0 !important;

      &__arrow {
        display: none;
      }

      &__rendered {
        position: absolute;
        padding: 34px 16px 12px 16px !important;
        top: 0;
        left: 0;
        @include font(var(--card-title), 20px, 24px, 400);

        height: 100% !important;
        width: 100% !important;
        display: flex !important;
        // border-radius: 10px !important;
        border: 1px solid var(--form-border-color) !important;
        align-items: center;
      }

      &__choise {
      }
    }

    &-search {
      height: 100% !important;
    }

    &-results {
      display: none !important;
    }
  }

  .select2-selection__choice {
    display: flex !important ;
    background-color: transparent !important;
    border: none !important;
    margin: 0 !important;
    padding: 0 !important;

    button {
      display: none;
    }
    span {
      padding: 0 !important;
    }
  }
  .selection {
    display: block;
    width: 100%;
    height: 70px;
  }
  &__dropdown {
    border: none !important;
    box-shadow: 0px 4px 20px 6px rgba(0, 0, 0, 0.04);
    border-radius: 10px !important;
    overflow: hidden !important;
    margin-top: 4px;
    .select2-results {
      padding-right: 8px;
      &__options {
        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-track {
          background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #1c274d30;
          opacity: 0.3;
        }

        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }

      &__option {
        padding: 12px 16px 12px 24px;
        position: relative;
        &:not(:last-child)::after {
          content: "";
          width: calc(100% - 40px);
          height: 1px;
          position: absolute;
          bottom: -1px;
          left: 24px;
          background-color: #f1f1f1;
        }

        &--selected {
        }
      }
    }
  }

  &__label {
    position: absolute;
    z-index: 10;
    top: 12px;
    left: 16px;
    opacity: 0.65;
    @include font(var(--card-title), 14px, 17px, 300);
  }

  textarea {
    resize: none !important;
    width: 100%;
    height: 100%;
    margin: 0 !important;
    border-radius: 10px !important;
    // border: 1px solid #e1e0e6 !important;
    width: 100% !important;
    padding: 34px 16px 12px 16px !important;
    overflow: hidden;
    &::placeholder {
      font-family: var(--main-font-family);
      @include font(var(--card-title), 20px, 24px, 400);
      opacity: 0.5;
    }
    &:focus {
      // border: 1px solid #0c2f75 !important;
      // outline: 3px solid rgba(12, 47, 117, 0.1) !important;
      // border-radius: 10px;
    }
  }

  &__option {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__count {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;

    @include font(var(--card-title), 20px, 24px, 400);
  }

  &__error {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: all 0.1s ease;
    @include font(var(--transfer-red), 14px, 17px, 600);
  }

  &.error {
    .select {
      &__error {
        bottom: -15px;
        z-index: 10;
      }
    }
    textarea {
      border: 1px solid var(--transfer-red) !important;
    }
  }

  &__dropdown {
  }
}

body.dark {
  .select2-container--default .select2-selection--multiple,
  .select2-container--default .select2-selection--single,
  .upload {
    background-color: #222222;
  }
}
