@font-face {
	font-family: Museo;
	font-display: swap;
	src: url("../fonts/Museo-black.woff2") format("woff2"), url("../fonts/Museo-black.woff") format("woff");
	font-weight: 900;
	font-style: normal;
}
@font-face {
	font-family: Museo;
	font-display: swap;
	src: url("../fonts/Museo-light.woff2") format("woff2"), url("../fonts/Museo-light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: Museo;
	font-display: swap;
	src: url("../fonts/Museo-bold.woff2") format("woff2"), url("../fonts/Museo-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Museo;
	font-display: swap;
	src: url("../fonts/Museo-semibold.woff2") format("woff2"), url("../fonts/Museo-semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto.woff2") format("woff2"), url("../fonts/Noto.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Noto;
	font-display: swap;
	src: url("../fonts/Noto-bold.woff2") format("woff2"), url("../fonts/Noto-bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Museo;
	font-display: swap;
	src: url("../fonts/Museo-thin.woff2") format("woff2"), url("../fonts/Museo-thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;
}
